/*GLOBAL -----------------------------*/
:root {
  --color-primary: #51d6be;
  --color-primary-gradient: linear-gradient(
    90deg,
    rgba(81, 214, 190, 0.5) 0%,
    #51d6be 77.08%
  );
  --color-primary-text: #323232;

  --color-background: #18181b;
  --color-background-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.32);
  --color-background-title: #ffffff;
  --color-background-text: #868a8f;
  --color-navigation-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  --color-main-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.5);

  --typography: "Bai Jamjuree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

/*DEFINIÇÕES DO BODY E DO MAIN -----------------------------*/
body {
  background: var(--color-background);
  font-family: var(--typography);
}

main {
  width: 100%;
  color: var(--color-background-title);
  background: var(--color-background);
  box-shadow: var(--color-main-shadow);
  padding-bottom: 72px;
  position: relative;
}

/*CONTEÚDO PRINCIPAL DA PÁGINA ------------------*/
section {
  width: 90%;
  margin: auto;
}

section + section {
  margin-top: 48px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 110%;
  margin-top: 48px;
}

#pages {
  width: 90%;
  margin: auto;
}

#pages p {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  text-align: left;
  margin-top: 30px;
  padding-left: 70px;
  color: var(--color-background-text);
}

/*RESPONSIVIDADE --------------------------------*/

@media (max-width: 500px) {
  main {
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 48px;
  }

  h2 {
    font-size: 17px;
    line-height: 110%;
    margin-top: 32px;
  }

  #pages p {
    display: none;
  }
}
