<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Bai Jamjuree. Fonte: Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/partials/navigation.css" />
    <link rel="stylesheet" href="../static/styles/partials/header.css" />
    <link rel="stylesheet" href="../static/styles/partials/footer.css" />
    <link rel="stylesheet" href="../static/styles/partials/card.css" />
    <title>Sobre mim | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header id="nav">
      <a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a>

      <nav>
        <a href="#">Sobre mim</a>
        <a href="./education.html">Formação</a>
        <a href="./projects.html">Projetos</a>
      </nav>
    </header>

    <main>
      <!-- Cabeçalho -->
      <header>
        <div class="description non-main">
          <h1>Sobre Mim</h1>
          <p>
            Nasci em julho de 2002, mas só em 2018, aos 16 anos, me interessei
            pela área de tecnologia, como fazer sistemas, estudar laços de
            repetição e estruturas de decisão. Claro que antes disso eu já
            gostava de navegar em sites bonitos e jogar jogos divertidos, mas só
            no meu curso técnico que percebi tudo o que eu podia fazer só com um
            computador e muita paciência. <br />
            Aliás, sou de São José dos Campos, São Paulo, muito prazer!
          </p>
        </div>

        <div class="description-image non-main">
          <img
            class="img-circle"
            src="../static/img/exemple-photo-circle.svg"
            alt="Foto de Maria Gabriela Reis"
          />

          <img
            id="decoration-circle"
            src="../static/img/decoration-circle.svg"
            alt=""
          />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="main-content">
        <section>
          <!-- Linguagens de Programação e Frameworks que já tive contato -->
          <h2>Linguagens de Programação e Frameworks que conheço</h2>
          <div class="card-big">
            <div class="card-big-content">
              <ul>
                <li>
                  Por causa dos estudos e participações em eventos de
                  programação, já tive contato com algumas linguagens, conceitos
                  e bibliotecas, como:
                </li>
                <ul>
                  <li>PHP</li>
                  <li>Java</li>
                  <li>C/ C#</li>
                  <li>Javascript/ Typescript</li>
                  <ul>
                    <li>Node, React, React Native</li>
                  </ul>
                  <li>Pyhton</li>
                  <ul>
                    <li>Flask, Beautiful Soup, Pandas</li>
                  </ul>
                </ul>

                <li>
                  Além, é claro, das clássicas linguagens de marcação e
                  estilização, HTML e CSS
                </li>
              </ul>
            </div>

            <div id="languages-group">
              <img src="../static/img/icon-python.svg" alt="Logo: Python" />
              <img src="../static/img/icon-js.svg" alt="Logo: JavaScript" />
              <img src="../static/img/icon-c.svg" alt="Logo: C" />
              <img src="../static/img/icon-flask.svg" alt="Logo: Flask" />
              <img src="../static/img/icon-node.svg" alt="Logo: Node.js" />
              <img src="../static/img/icon-c-sharp.svg" alt="Logo: C#" />
              <img src="../static/img/icon-php.svg" alt="Logo: PHP" />
              <img
                src="../static/img/icon-react-native.svg"
                alt="Logo: React Native"
              />
              <img
                src="../static/img/icon-html-css.svg"
                alt="Logo: Html e CSS"
              />
            </div>
          </div>
        </section>

        <section>
          <!-- Coisas que faço no meu tempo livre -->
          <h2>Hobbies</h2>
          <div class="card-big">
            <div class="card-big-content second">
              <ul>
                <li>
                  Gosto de assistir filmes e séries, como “O Jogo da Imitação” e
                  “Sillicon Valley”
                </li>
                <br />
                <li>
                  Praticar esportes, desde vôlei e futebol, à ping pong e artes
                  marciais sempre foi um momento de lazer para mim
                </li>
                <br />
                <li>
                  Jogar jogos eletrônicos, sozinha ou com amigos, como Stardew
                  Valley, ou jogos de tabuleiro, como Damas e Banco Imobiliário,
                  e ainda jogos de console, como Mário ou Just Dance
                </li>
                <br />
                <li>
                  Adoro escrever e desenhar nos meus tempos livres de inspiração
                  também
                </li>
              </ul>
            </div>

            <div id="hobbies-group">
              <img
                id="img1"
                src="../static/img/sillicon-valley.svg"
                alt="Série: Sillicon Valley"
              />
              <div class="games">
                <img
                  id="img2"
                  src="../static/img/mario.svg"
                  alt="Jogo: Mário"
                />
                <img
                  id="img1"
                  src="../static/img/stardew.svg"
                  alt="Jogo: Stardew Valley"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <!-- Nome -->
        <h4>Maria Gabriela Garcia dos Santos Reis</h4>

        <!-- Redes Sociais -->
        <div class="social">
          <a href="https://github.com/MariaGabrielaReis" target="_blank">
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/mariagabrielareis/"
            target="_blank"
          >
            Linkedin
          </a>
          <a href="https://codepen.io/mariagabrielareis" target="_blank">
            Codepen
          </a>
          <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">
            Instagram
          </a>
        </div>

        <!-- Email -->
        <p>mariagabrielagreis@gmail.com</p>
      </address>
      <div id="copyright">
        <p>© 2021 | Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
