<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Bai Jamjuree. Fonte: Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/partials/navigation.css" />
    <link rel="stylesheet" href="../static/styles/partials/header.css" />
    <link rel="stylesheet" href="../static/styles/partials/footer.css" />
    <link rel="stylesheet" href="../static/styles/partials/card.css" />
    <title>Formação | Maria Gabriela Reis</title>
  </head>

  <body>
    <!-- Menu de Navegação -->
    <header id="nav">
      <a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a>

      <nav>
        <a href="./about-me.html">Sobre mim</a>
        <a href="#">Formação</a>
        <a href="./projects.html">Projetos</a>
      </nav>
    </header>

    <!-- Cabeçalho -->
    <main>
      <header>
        <div class="description non-main">
          <h1>Formação</h1>
          <p>
            Tive um Ensino Técnico Integrado ao Ensino Médio, me formando
            técnica em Informática aos 18 anos. No ano seguinte, ingressei na
            Faculdade de Tecnologia de São José dos Campos, cursando um
            tecnólogo em Desenvolvimento de Software Multiplataforma
          </p>

          <div id="cv">
            <!-- Botão para baixar o currículo -->
            <a
              class="button-non-filled non-main"
              href="../static/cv.pdf"
              download="Maria-Gabriela-Reis-CV.pdf"
            >
              <img src="../static/img/icon-arrow.svg" alt="Baixar currículo" />
              Currículo
            </a>

            <p id="ps">
              <img src="../static/img/icon-arrow-right.svg" alt="" />
              Se quiser baixar meu currículo, está em PDF!
            </p>
          </div>
        </div>

        <div class="description-image non-main">
          <img
            src="../static/img/icon-education.svg"
            alt="Ícone de chapéu de formatura"
          />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="main-content">
        <section>
          <!-- Escolas em que já estudei ou estudo atualmente -->
          <h2>Instituições de Ensino</h2>
          <div class="card-medium-group">
            <div class="card-medium">
              <h3>FATEC PROFº JESSEN VIDAL</h3>
              <p>
                Tecnólogo em Desenvolvimento de Software Multiplataforma<br />
                2021 A 2023
              </p>
              <div class="card-medium-button">
                <a href="https://fatecsjc-prd.azurewebsites.net/index.php">
                  Visitar site
                </a>
              </div>
            </div>

            <div class="card-medium">
              <h3>
                ETEC PROFª ILZA <br />
                NASCIMENTO PINTUS
              </h3>
              <p>
                Ensino Médio integrado ao Técnico em Informática<br />
                2018 A 2020
              </p>
              <div class="card-medium-button">
                <a href="https://www.etecsjcampos.com.br/">Visitar site</a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <!-- Cursos e participações adicionais -->
          <h2>Outros Cursos</h2>
          <div class="card-small-group">
            <div class="card-small">
              <h3>
                JUNIOR ACHIEVEMENT <br />
                BRASIL, 28 HORAS
              </h3>
              <p>
                J.A. Startup. Criação de empresa e produto, passando pelas fases
                de validação da ideia, do produto e do negócio <br />
                2º SEMESTRE DE 2019
              </p>
              <div class="card-small-button">
                <a href="https://www.jabrasil.org.br/">Visitar site</a>
              </div>
            </div>

            <div class="card-small">
              <h3>
                2º HACKATHON <br />
                ACADÊMICO - CPS
              </h3>
              <p>
                Centro Paula Souza, Robótica Paula Souza. Projeto em grupo que
                entrou para o top 10 da Fase Estadual<br />
                2º SEMESTRE DE 2019
              </p>
              <div class="card-small-button">
                <a
                  href="http://www.robotica.cpscetec.com.br/verEventos.php?pag=6"
                  >Visitar site</a
                >
              </div>
            </div>

            <div class="card-small">
              <h3>
                MANUTENÇÃO DE <br />
                LABORATÓRIOS
              </h3>
              <p>
                Voluntariado. Catálogo de máquinas, com a verificação do
                funcionamento ou defeitos existentes.<br />
                2º SEMESTRE DE 2019
              </p>
              <div class="card-small-button">
                <a href="https://www.etecsjcampos.com.br/">Visitar site</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <!-- Nome -->
        <h4>Maria Gabriela Garcia dos Santos Reis</h4>

        <!-- Redes Sociais -->
        <div class="social">
          <a href="https://github.com/MariaGabrielaReis" target="_blank">
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/mariagabrielareis/"
            target="_blank"
          >
            Linkedin
          </a>
          <a href="https://codepen.io/mariagabrielareis" target="_blank">
            Codepen
          </a>
          <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">
            Instagram
          </a>
        </div>

        <!-- Email -->
        <p>mariagabrielagreis@gmail.com</p>
      </address>
      <div id="copyright">
        <p>© 2021 | Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
