<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Bai Jamjuree. Fonte: Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/partials/navigation.css" />
    <link rel="stylesheet" href="../static/styles/partials/header.css" />
    <link rel="stylesheet" href="../static/styles/partials/footer.css" />
    <link rel="stylesheet" href="../static/styles/partials/card.css" />
    <title>Início | Maria Gabriela Reis</title>
  </head>

  <body>
    <!-- Menu de Navegação -->
    <header id="nav" class="navigation">
      <a href="#">Maria Gabriela Garcia dos Santos Reis</a>
    </header>

    <main class="navigation">
      <!-- Cabeçalho -->
      <header class="navigation">
        <div class="description navigation">
          <h1>Menu</h1>
          <div class="button-group navigation">
            <!-- Redirecionamento para outras páginas (mobile) -->
            <nav>
              <a href="/">Início</a>
              <a href="about-me">Sobre mim</a>
              <a href="education">Formação</a>
              <a href="projects">Projetos</a>
            </nav>
          </div>
        </div>
      </header>
    </main>
  </body>
</html>
