<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Titilium Web. Fonte: Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/partials/card.css">
    <link rel="stylesheet" href="../public/styles/partials/menu.css">
    <link rel="stylesheet" href="../public/styles/partials/rodape.css">
    <title>Projetos | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header id="menu">
      <p><a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a></p>

      <nav>
        <a href="./sobre-mim.html">Sobre mim</a>
        <a href="./formacao.html">Formação</a>
        <a href="#"><u>Projetos</u></a>
        <a href="./contatos.html" id="botao-contato">Contatos</a>
      </nav>
    </header>

    <!-- Cabeçalho -->
    <main>
      <header>
        <div class="descricao">
          <h1>Projetos</h1>
          <p>Você pode encontrar todos no meu GitHub!</p>
          <br>
  
          <div class="github-botao">
            <a href="https://github.com/MariaGabrielaReis">Acessar GitHub</a>
          </div>
        </div>
        
        <div class="imagem">
          <img id="projetos" src="../public/img/icone-projetos.svg" alt="Ícone de projetos" />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="conteudo-principal">
        <section>
          <!-- Projetos em que estou trabalhando atualmente -->
          <h2>Projetos Atuais</h2>
          <div class="cards-pequenos">
            <div class="card-pequeno">
              <h3>ESTE SITE</h3>
              <p>
                Portfólio pessoal desenvolvido como trabalho para a disciplina “Design Digital” da FATEC.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/meu-portfolio" target="_blank">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno">
              <h3>PROJETO INTEGRADOR-2021/1</h3>
              <p>
                Projeto semestral da Faculdade de Tecnologia de São José dos Campos. baseado no SCRUM.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/Equipe-01-DSM-2021/projeto-integrador-2021-1" target="_blank">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno">
              <h3>PYHTON PARA ZUMBIS</h3>
              <p>
                Exercícios de Python propostos pelo professor Fernando Masanori.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/Python-for-Zombies" target="_blank">Ver repositório</a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <!-- Projetos desenvolvidos em algum evento de programação -->
          <h2>Projetos de Eventos</h2>
          <div class="cards-pequenos">
            <div class="card-pequeno-evento">
              <h3>MARATONA DISCOVER 2</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </p>
              <div class="card-pequeno-botao">
                <a href="">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno-evento">
              <h3>MARATONA DISCOVER 1</h3>
              <p>
                O dev.finances é uma aplicação de controle financeiro, onde é possível cadastrar e excluir transações e ver o saldo de entrada e saída.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/maratona-discover-dev-finances" target="_blank">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno-evento">
              <h3>NEXT LEVEL WEEK #04</h3>
              <p>
                Net Promoter Score. <br>
                API que calcula o grau de satisfação dos participantes da NLW#04 a partir de uma pesquisa enviada por e-mail
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/nlw-04-net-promoter-score" target="_blank">Ver repositório</a>
              </div>
            </div>
          </div>

          <div class="cards-pequenos">
            <div class="card-pequeno-evento">
              <h3>NEXT LEVEL WEEK #03</h3>
              <p>
                Happy.<br>
                Plataforma que facilita a busca por orfanatos.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/nlw-03-happy" target="_blank">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno-evento">
              <h3>NEXT LEVEL WEEK #02</h3>
              <p>
                Proffy.<br>
                Plataforma de estudos online que conecta alunos a professores.adastrar e excluir transações e ver o saldo de entrada e saída.
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/nlw-02-proffy" target="_blank">Ver repositório</a>
              </div>
            </div>

            <div class="card-pequeno-evento">
              <h3>NEXT LEVEL WEEK #01</h3>
              <p>
                Ecoleta.<br>
                Fornece uma organização de pontos de coleta de resíduos orgânicos e inorgânicos
              </p>
              <div class="card-pequeno-botao">
                <a href="https://github.com/MariaGabrielaReis/nlw-01-ecoleta" target="_blank">Ver repositório</a>
              </div>
            </div>
          </div>
        </section>

      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>
            Maria Gabriela Garcia dos <br>
            Santos Reis
          </h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="#">Início</a>
            <a href="./sobre-mim.html">Sobre mim</a>
            <a href="./formacao.html">Formação</a>
            <a href="./projetos.html">Projetos</a>
            <a href="./contatos.html">Contatos</a>
            <a href="../public/curriculo.pdf" download="Maria-Gabrial-Reis-Curriculo.pdf">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="https://github.com/MariaGabrielaReis" target="_blank">
            <img src="../public/img/icon-github.png" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="https://www.linkedin.com/in/mariagabrielareis/" target="_blank">
            <img src="../public/img/icon-linkedin.png" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">
            <img src="../public/img/icon-instagram.png" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
      </address>
      <div class="copyright">
        <p>© 2021 copyright todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
