<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Bai Jamjuree. Fonte: Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/partials/card.css" />
    <link rel="stylesheet" href="../static/styles/partials/navigation.css" />
    <link rel="stylesheet" href="../static/styles/partials/footer.css" />
    <title>Projetos | Maria Gabriela Reis</title>
  </head>

  <body>
    <!-- Menu de Navegação -->
    <header id="nav">
      <a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a>

      <nav>
        <a href="./about-me.html">Sobre mim</a>
        <a href="./education.html">Formação</a>
        <a href="#">Projetos</a>
      </nav>
    </header>

    <!-- Cabeçalho -->
    <main>
      <header>
        <div class="description non-main">
          <h1>Projetos</h1>
          <p>
            Durante minha vida acadêmica criei pequenos projetos para aplicar os
            conteúdos aprendidos durante as aulas, além de participar de muitos
            eventos de programação que tem como foco a imersão em alguma
            linguagem, gerando diversos tipos de sistemas, todos disponíveis no
            meu GitHub!
          </p>

          <!-- Botão para acessar GitHub -->
          <a
            class="button-non-filled non-main github"
            href="https://github.com/MariaGabrielaReis"
            target="_blank"
          >
            Acessar GitHub
          </a>
        </div>

        <div class="description-image non-main">
          <img
            src="../static/img/icon-projects.svg"
            alt="Ícone de páginas de sites"
          />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="main-content">
        <section>
          <!-- Projetos em que estou trabalhando atualmente -->
          <div class="card-small-group">
            <div class="card-small">
              <h3>ESTE SITE</h3>
              <p>
                Portfólio pessoal desenvolvido como trabalho para a disciplina
                “Design Digital” da FATEC
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/MariaGabrielaReis/meu-portfolio"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>

            <div class="card-small">
              <h3>PROJETO INTEGRADOR-2021/1</h3>
              <p>
                Projeto semestral da Faculdade de Tecnologia de São José dos
                Campos. baseado no SCRUM.
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/Equipe-01-DSM-2021/projeto-integrador-2021-1"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>

            <div class="card-small">
              <h3>PYTHON PARA ZUMBIS</h3>
              <p>
                Exercícios de Python propostos pelo professor Fernando Masanori
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/MariaGabrielaReis/Python-for-Zombies"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <!-- Projetos desenvolvidos em algum evento de programação -->
          <h2>Eventos de Programação</h2>
          <div class="card-small-list">
            <div class="card-small-group">
              <div class="card-small">
                <h3>NEXT LEVEL WEEK #05</h3>
                <p>
                  Plant Manager<br />
                  Aplicativo de lembretes que gera notificações para avisar
                  quando regar suas plantinhas (trilha React Native)
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/nlw-05-plant-manager"
                    target="_blank"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>

              <div class="card-small">
                <h3>NEXT LEVEL WEEK #05</h3>
                <p>
                  Chat de Suporte<br />
                  Chat de mensagens instantâneas para suporte a algum
                  produto/serviço (trilha Node.js)
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/nlw-05-support-chat"
                    target="_blank"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>

              <div class="card-small">
                <h3>IMERSÕES E PALESTRAS</h3>
                <p>
                  Imersão Dev (Javascript)<br />
                  Imersão Dados (Python)<br />
                  Samsung Ocean: Web Scraping e Visualização de dados (Python)
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/imersao-dados-3"
                    target="_blank"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>
            </div>

            <div class="card-small-group">
              <div class="card-small">
                <h3>MARATONA DISCOVER 2</h3>
                <p>
                  Jobs-Calc<br />
                  Calculadora para Freelancers: saiba quanto cobrar pelos seus
                  trabalhos
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/maratona-discover-jobs-calc"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>

              <div class="card-small">
                <h3>MARATONA DISCOVER 1</h3>
                <p>
                  Dev.finances<br />
                  Aplicação de controle financeiro, onde é possível cadastrar e
                  excluir transações e ver o saldo de entrada e saída.
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/maratona-discover-dev-finances"
                    target="_blank"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>

              <div class="card-small">
                <h3>NEXT LEVEL WEEK #04</h3>
                <p>
                  Net Promoter Score<br />
                  API que calcula o grau de satisfação dos participantes da
                  NLW#04 a partir de uma pesquisa enviada por e-mail
                </p>
                <div class="card-small-button">
                  <a
                    href="https://github.com/MariaGabrielaReis/nlw-04-net-promoter-score"
                    target="_blank"
                  >
                    Ver repositório
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-small-group">
            <div class="card-small">
              <h3>NEXT LEVEL WEEK #03</h3>
              <p>
                Happy<br />
                Plataforma que facilita a busca por orfanatos.
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/MariaGabrielaReis/nlw-03-happy"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>

            <div class="card-small">
              <h3>NEXT LEVEL WEEK #02</h3>
              <p>
                Proffy<br />
                Plataforma de estudos online que conecta alunos a professores.
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/MariaGabrielaReis/nlw-02-proffy"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>

            <div class="card-small">
              <h3>NEXT LEVEL WEEK #01</h3>
              <p>
                Ecoleta<br />
                Fornece uma organização de pontos de coleta de resíduos
                orgânicos e inorgânicos
              </p>
              <div class="card-small-button">
                <a
                  href="https://github.com/MariaGabrielaReis/nlw-01-ecoleta"
                  target="_blank"
                >
                  Ver repositório
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <!-- Nome -->
        <h4>Maria Gabriela Garcia dos Santos Reis</h4>

        <!-- Redes Sociais -->
        <div class="social">
          <a href="https://github.com/MariaGabrielaReis" target="_blank">
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/mariagabrielareis/"
            target="_blank"
          >
            Linkedin
          </a>
          <a href="https://codepen.io/mariagabrielareis" target="_blank">
            Codepen
          </a>
          <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">
            Instagram
          </a>
        </div>

        <!-- Email -->
        <p>mariagabrielagreis@gmail.com</p>
      </address>
      <div id="copyright">
        <p>© 2021 | Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
