/*GLOBAL -----------------------------*/
:root {
  --cor-primaria: #51d6be;
  --cor-primaria-gradiente: linear-gradient(
    90deg,
    rgba(81, 214, 190, 0.5) 0%,
    #51d6be 77.08%
  );
  --cor-plano-de-fundo: #18181b;
  --sombra-plano-de-fundo: 0px 4px 10px 5px rgba(0, 0, 0, 0.32);
  --cor-titulo-plano-de-fundo: #ffffff;
  --cor-texto-plano-de-fundo: #bcbcbc;
  --sombra-menu: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  --cor-texto-botao-nao-preenchido: #23bba0;
  --cor-botao-hover: #23bba0;
  --sombra-main: 0px 4px 10px 3px rgba(0, 0, 0, 0.5);
  --cor-titulo-rodape: #323232;
  --cor-texto-rodape: #ffffff;

  --tipografia: "Titillium Web", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

/*DEFINIÇÕES DO BODY E DO MAIN -----------------------------*/
body {
  background: var(--color-plano-de-fundo);
  font-family: var(--tipografia);
}

main {
  width: 100%;
  color: var(--cor-titulo-plano-de-fundo);
  background: var(--cor-plano-de-fundo);
  box-shadow: var(--sombra-main);
  padding-bottom: 72px;
  position: relative;
}

/*CABEÇALHO -----------------------------*/
main header {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 72px;
  align-content: center;
}

.descricao h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin-top: 80px;
}

.descricao p {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  margin-top: 32px;
}

.grupo-botoes {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 24px;
}

.curriculo {
  border: 2px solid var(--cor-texto-botao-nao-preenchido);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 200px;
  cursor: pointer;
}

.curriculo img {
  margin-right: 15px;
}

.curriculo a {
  text-decoration: none;
  color: var(--cor-texto-botao-nao-preenchido);
}

#comecar {
  text-decoration: none;
  color: var(--cor-titulo-plano-de-fundo);
  margin-left: 48px;
  background: var(--cor-primaria);
  height: 64px;
  width: 200px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#boas-vindas {
  margin-top: 72px;
  width: 80%;
  height: 400px;
  margin-right: 100px;
}

#decoracao {
  position: absolute;
  bottom: -48px;
  right: 0;
}

#telefone {
  width: 70%;
  height: 400px;
  margin-right: -188px;
}

/*CONTEÚDO PRINCIPAL DA PÁGINA ------------------*/
section {
  width: 90%;
  margin: auto;
}

section h2 {
  font-size: 44px;
  font-weight: 300;
}

.contatos {
  border-radius: 7px;
  border: 2px solid var(--cor-primaria);
  text-align: center;
  padding: 64px 80px;
  margin-top: -136px;
}

.contatos p {
  font-size: 24px;
  color: var(--cor-texto-plano-de-fundo);
  text-align:left;
  line-height: 48px;
}

.contatos p a {
  text-decoration: none;
  color: var(--cor-texto-rodape);
}