/*CARD PEQUENO -----------------------------------*/
.card-small-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-small {
  width: 369.97px;
  height: 275px;
  border-radius: 7px;
  border: 2px solid var(--color-primary);
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
}

.card-small h3 {
  height: 44px;
  font-weight: 300;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
  padding-top: 5px;
}

.card-small ul,
.card-small p {
  width: 313.24px;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  font-weight: 300;
  text-align: left;
  color: var(--color-background-text);
  padding: 0px 30px 15px;
}

.card-small-button {
  border-top: 2px solid var(--color-primary);
  padding-top: 5px;
  height: 48px;
  text-align: center;
  padding-top: 10px;
}

.card-small a {
  text-decoration: none;
  color: var(--color-primary);
  margin-top: 16px;
  font-size: 20px;
  line-height: 120%;
}

/*CARD MÉDIO -----------------------------------*/
.card-medium-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 64px;
  margin-left: 64px;
}

.card-medium {
  width: 470px;
  height: 230px;
  border-radius: 7px;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-medium h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  padding-top: 10px;
  margin-bottom: 10px;
}

.card-medium p {
  line-height: 120%;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: var(--color-background-text);
  padding: 10px 20px;
}

.card-medium-button {
  border-top: 2px solid var(--color-primary);
  bottom: 0;
  margin-top: 5px;
  padding-top: 10px;
}

.card-medium a {
  text-decoration: none;
  font-size: 24px;
  color: var(--color-primary);
  margin-top: 16px;
}

/*CARD GRANDE -----------------------------------*/
.card-big {
  border-radius: 7px;
  border: 2px solid var(--color-primary);
  text-align: left;
  margin: 32px auto;
  width: 970px;
  height: 430.51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-big-content {
  padding: 20px 0px;
}

.second {
  width: 430px;
  height: 375.19px;
}

.card-big ul {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  text-align: left;
  padding-left: 60px;
  color: var(--color-background-text);
}

#languages-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 7px;
}

#hobbies-group {
  gap: 13px;
}

.games {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.games img {
  width: 220px;
  height: 158px;
}

/*RESPONSIVIDADE --------------------------------*/

@media (max-width: 500px) {
  /*CARD PEQUENO -----------------------------------*/
  .card-small-group {
    display: block;
    width: 100%;
    margin: 0px;
  }

  .card-small {
    width: 300px;
    height: 185px;
    margin-top: 20px;
    margin-right: 0px;
  }

  .card-small h3 {
    font-size: 16px;
    line-height: 110%;
    padding-top: 0px;
  }

  .card-small ul,
  .card-small p {
    font-size: 14px;
    line-height: 130%;
    width: 255px;
  }

  .card-small-button {
    height: 40px;
    padding-bottom: 10px;
  }

  .card-small a {
    font-size: 17px;
  }

  #languages-group,
  #hobbies-group {
    display: none;
  }

  .card-big {
    width: 301px;
    height: 400px;
    margin-bottom: 0;
  }

  .card-big-content {
    width: 250px;
    padding: 5px 0px;
  }

  .card-big ul {
    font-size: 14px;
    line-height: 130%;
    padding-left: 40px;
  }
}
