/*MENU DE NAVEGAÇÃO -----------------------------*/
#menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 72px;
  background: var(--cor-plano-de-fundo);
  box-shadow: var(--sombra-menu);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 72px;
  z-index: 10;
}

#menu p a {
  text-decoration: none;
  font-size: 24px;
  color: var(--cor-titulo-plano-de-fundo);
}

nav a {
  text-decoration: none;
  color: var(--cor-titulo-plano-de-fundo);
  font-size: 18px;
  margin-left: 48px;
}

#menu #botao-contato {
  border: 2px solid var(--cor-texto-botao-nao-preenchido);
  border-radius: 7px;
  padding: 5px 32px;

  color: var(--cor-texto-botao-nao-preenchido);
}

nav #botao {
  border: 2px solid var(--cor-texto-botao-nao-preenchido);
  border-radius: 7px;
  padding: 5px 32px;

  background: var(--cor-texto-botao-nao-preenchido);
  color: white;
}