/*MENU DE NAVEGAÇÃO -----------------------------*/
#nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 96px;
  background: var(--color-background);
  box-shadow: var(--color-navigation-shadow);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 72px;
  z-index: 10;
}

#nav a {
  text-decoration: none;
  font-size: 30px;
  color: var(--color-background-title);
}

#nav nav a {
  text-decoration: none;
  color: var(--color-background-title);
  font-size: 20px;
  margin-left: 48px;
}

#nav nav a:hover {
  color: var(--color-primary);
}

/*RESPONSIVIDADE --------------------------------*/

@media (max-width: 500px) {
  #nav {
    height: 48px;
    padding: 0px;
    padding-left: 20px;
  }

  #nav a {
    font-size: 15px;
    width: 286px;
    height: 18px;
  }

  nav {
    display: none;
  }
}
