<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contatos | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de navegação -->
    <header>
      <p>Maria Gabriela Garcia dos Santos Reis</p>

      <nav>
        <a href="">Sobre mim</a>
        <a href="">Formação</a>
        <a href="">Projetos</a>
        <a href="">Contatos</a>
      </nav>
    </header>
    
    <main>
      <!-- Cabeçalho -->
      <header>
        <h1>Contatos</h1>
        <p>
          <img src="" alt="Seta" />
          Escolha qualquer um dos meios abaixo para entrar em contato comigo!
          <br />
          Responderei quando puder ♥
        </p>

        <div class="imagem">
          <img src="" alt="Ícone de telefone e email" />
        </div>
      </header>

       <!-- Conteúdo principal da página -->
      <div class="contatos">
        <p>
          <b>Endereço eletrônico:</b> mariagabrielagreis@gmail.com. <br />
          <b>Perfil no GitHub:</b> @MariaGabrielaReis, ou acesse clicando
          <a href="">aqui</a>. <br />
          <b>Perfil no LinkedIn:</b> Maria Gabriela Garcia dos Santos Reis, ou
          acesse clicando <a href="">aqui</a>. <br />
          <b>Perfil no Instagram:</b> @exemplo, ou acesse clicando
          <a href="">aqui</a>. <br />
        </p>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>Maria Gabriela Garcia dos Santos Reis</h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="">Início</a>
            <a href="">Sobre mim</a>
            <a href="">Formação</a>
            <a href="">Projetos</a>
            <a href="">Contatos</a>
            <a href="">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="">
            <img src="" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="">
            <img src="" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="">
            <img src="" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
        <div class="copyright">
          <p>© 2021 copyright todos os direitos reservados</p>
        </div>
      </address>
    </footer>
  </body>
</html>
