<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Titilium Web. Fonte: Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/partials/card.css">
    <link rel="stylesheet" href="../public/styles/partials/menu.css">
    <link rel="stylesheet" href="../public/styles/partials/rodape.css">
    <title>Contatos | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header id="menu">
      <p><a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a></p>

      <nav>
        <a href="./sobre-mim.html">Sobre mim</a>
        <a href="./formacao.html">Formação</a>
        <a href="./projetos.html">Projetos</a>
        <a href="./contatos.html" id="botao">Contatos</a>
      </nav>
    </header>
    
    <main>
      <!-- Cabeçalho -->
      <header>
        <div class="descricao">
          <h1>Contatos</h1>
          <p>
            Escolha qualquer um dos meios abaixo para entrar em contato comigo!<br/>
            Responderei quando puder ♥
          </p>
        </div>
        
        <div class="imagem">
          <img id="telefone" src="../public/img/icone-contatos.svg" alt="Ícone de telefone e email" />
        </div>
      </header>

       <!-- Conteúdo principal da página -->
       <section>
        <div class="contatos">
          <p>
            <b>Endereço eletrônico:</b> mariagabrielagreis@gmail.com. <br />
            <b>Perfil no GitHub:</b> @MariaGabrielaReis, ou acesse clicando
            <a href="https://github.com/MariaGabrielaReis" target="_blank">aqui</a>. <br />
            <b>Perfil no LinkedIn:</b> Maria Gabriela Garcia dos Santos Reis, ou
            acesse clicando <a href=" https://www.linkedin.com/in/mariagabrielareis/" target="_blank">aqui</a>. <br />
            <b>Perfil no Instagram:</b> @maby.sz, ou acesse clicando
            <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">aqui</a>. <br />
          </p>
        </div>
       </section>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>
            Maria Gabriela Garcia dos <br>
            Santos Reis
          </h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="#">Início</a>
            <a href="./sobre-mim.html">Sobre mim</a>
            <a href="./formacao.html">Formação</a>
            <a href="./projetos.html">Projetos</a>
            <a href="./contatos.html">Contatos</a>
            <a href="../public/curriculo.pdf" download="Maria-Gabrial-Reis-Curriculo.pdf">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="https://github.com/MariaGabrielaReis" target="_blank">
            <img src="../public/img/icon-github.png" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="https://www.linkedin.com/in/mariagabrielareis/" target="_blank">
            <img src="../public/img/icon-linkedin.png" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="https://www.instagram.com/maby.sz/?hl=pt-br" target="_blank">
            <img src="../public/img/icon-instagram.png" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
      </address>
      <div class="copyright">
        <p>© 2021 copyright todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
