<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Titilium Web. Fonte: Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/partials/card.css">
    <link rel="stylesheet" href="../public/styles/partials/menu.css">
    <link rel="stylesheet" href="../public/styles/partials/rodape.css">
    <title>Formação | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header id="menu">
      <p><a href="./index.html">Maria Gabriela Garcia dos Santos Reis</a></p>

      <nav>
        <a href="./sobre-mim.html">Sobre mim</a>
        <a href="./formacao.html">Formação</a>
        <a href="">Projetos</a>
        <a href="./contatos.html" id="botao-contato">Contatos</a>
      </nav>
    </header>

    <!-- Cabeçalho -->
    <main>
      <header>
        <div class="descricao">
          <h1>Formação</h1>
          <p>Uma simples estudante de tecnologia com vício em aprender</p>
          <br>
  
          <div class="curriculo">
            <img src="../public/img/icone-seta.svg" alt="Baixar currículo" />
            <a href="" download="Maria-Gabrial-Reis-Curriculo.pdf">Currículo</a>
          </div>

          <p id="observacao">
            <img src="../public/img/icon-seta-baixo-direita.svg" alt="Seta" />
            Se quiser baixar meu currículo, está em PDF!
          </p>
        </div>
        
        <div class="imagem">
          <img id="chapeu" src="../public/img/icone-formacao.svg" alt="Ícone de chapéu de formatura" />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="conteudo-principal">
        <section>
          <!-- Escolas em que já estudei ou estudo atualmente -->
          <h2>Instituições de Ensino</h2>
          <div class="cards-medios">
            <div class="card-medio">
              <h3>FATEC PROFº JESSEN VIDAL</h3>
              <p>
                Tecnólogo em Desenvolvimento de Software Multiplataforma. <br />
                FEV/2021 - ATUAL
              </p>
              <div class="card-medio-botao">
                <a href="">Visitar site</a>
              </div>
            </div>

            <div class="card-medio">
              <h3>ETEC PROFª ILZA NASCIMENTO PINTUS</h3>
              <p>
                Ensino Médio integrado ao Técnico em Informática. <br />
                FEV/2018 - DEZ/2020
              </p>
              <div class="card-medio-botao">
                <a href="">Visitar site</a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <!-- Cursos e participações adicionais -->
          <h2>Outros Cursos</h2>
          <div class="cards-pequenos">
            <div class="card-pequeno">
              <h3>JUNIOR ACHIEVEMENT BRASIL, 28 HORAS</h3>
              <p>
                J.A. Startup. Criação de empresa e produto, passando pelas fases
                de validação da ideia, do produto e do negócio. <br />
                SET/2019 - NOV/2019
              </p>
            </div>

            <div class="card-pequeno">
              <h3>2º HACKATHON ACADÊMICO - CPS</h3>
              <p>
                Centro Paula Souza, Robótica Paula Souza. Conquista do 8º lugar
                na premiação da Fase Estadual. <br />
                2º SEMESTRE DE 2019
              </p>
            </div>

            <div class="card-pequeno">
              <h3>MANUTENÇÃO DE LABORATÓRIOS</h3>
              <p>
                Voluntariado.Catálogo de máquinas, com a verificação do
                funcionamento ou defeitos existentes. <br />
                2º SEMESTRE DE 2019
              </p>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>
            Maria Gabriela Garcia dos <br>
            Santos Reis
          </h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="#">Início</a>
            <a href="./sobre-mim.html">Sobre mim</a>
            <a href="./formacao.html">Formação</a>
            <a href="">Projetos</a>
            <a href="./contatos.html">Contatos</a>
            <a href="../public/curriculo.pdf" download="Maria-Gabrial-Reis-Curriculo.pdf">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="">
            <img src="../public/img/icon-github.png" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="">
            <img src="../public/img/icon-linkedin.png" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="">
            <img src="../public/img/icon-instagram.png" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
      </address>
      <div class="copyright">
        <p>© 2021 copyright todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
