<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Família tipográfica: Titilium Web. Fonte: Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Início | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header id="menu">
      <p><a href="#">Maria Gabriela Garcia dos Santos Reis</a></p>

      <nav>
        <a href="./sobre-mim.html">Sobre mim</a>
        <a href="./formacao.html">Formação</a>
        <a href="">Projetos</a>
        <a href="./contatos.html" id="botao-contato">Contatos</a>
      </nav>
    </header>

    <main>
      <!-- Cabeçalho -->
      <header>
        <div class="descricao">
          <h1>
            Bem vindo(a) <br>
            ao meu portfólio</h1>
          <p>Uma simples estudante de tecnologia <br>
             com vício em aprender</p>
  
          <div class="grupo-botoes">
            <div class="curriculo">
              <img src="../public/img/icone-seta.svg" alt="Baixar currículo" />
              <a href="../public/curriculo.pdf" download="Maria-Gabrial-Reis-Curriculo.pdf">Currículo</a>
            </div>
            <a href="" id="comecar">Vamos começar?</a>
          </div>
        </div>
       
        <div class="imagem">
          <img id="boas-vindas" src="../public/img/exemplo-foto.png" alt="Bem vindo(a)!" />
          <img id="decoracao" src="../public/img/decoracao-esfera.svg" alt="Decoração do site" />
        </div>
      </header>

      <!-- Opções de navegação para outras páginas, com descrição de conteúdo -->
      <div class="paginas">
        <h2>O que você pode encontrar nese site?</h2>
        <div class="cards">
          <div class="card">
            <h3>SOBRE MIM</h3>
            <p>
              Informações pessoais <br />
              Meus hobbies
            </p>
            <div class="card-botao">
              <a href="">Dar uma olhada</a>
            </div>
          </div>

          <div class="card">
            <h3>FORMAÇÃO</h3>
            <p>
              Instituições de Ensino frequentadas <br />
              Outros cursos e participações <br />
              Download de currículo <br />
            </p>
            <div class="card-botao">
              <a href="">Var mais</a>
            </div>
          </div>

          <div class="card">
            <h3>PROJETOS</h3>
            <p>
              Projetos atuais <br />
              Projetos de eventos de programação <br />
            </p>
            <div class="card-botao">
              <a href="">Fuçar um pouco</a>
            </div>
          </div>

          <div class="card">
            <h3>CONTATOS</h3>
            <p>
              Email <br />
              GitHub <br />
              LinkedIn <br />
              Instagram <br />
            </p>
            <div class="card-botao">
              <a href="">Olhar opções</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>Maria Gabriela Garcia dos Santos Reis</h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="#">Início</a>
            <a href="./sobre-mim.html">Sobre mim</a>
            <a href="./formacao.html">Formação</a>
            <a href="">Projetos</a>
            <a href="./contatos.html">Contatos</a>
            <a href="../public/curriculo.pdf" download="Maria-Gabrial-Reis-Curriculo.pdf">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="">
            <img src="../public/img/icon-github.png" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="">
            <img src="../public/img/icon-linkedin.png" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="">
            <img src="../public/img/icon-instagram.png" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
        <div class="copyright">
          <p>© 2021 copyright todos os direitos reservados</p>
        </div>
      </address>
    </footer>
  </body>
</html>
