<!DOCTYPE html>
<html lang="pt-br">
  <!-- Configurações da página como idioma, fontes e outros arquivos necessários -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Mim | Maria Gabriela Reis</title>
  </head>
  <body>
    <!-- Menu de Navegação -->
    <header>
      <p>Maria Gabriela Garcia dos Santos Reis</p>

      <nav>
        <a href="">Sobre mim</a>
        <a href="">Formação</a>
        <a href="">Projetos</a>
        <a href="">Contatos</a>
      </nav>
    </header>

    <main>
      <!-- Cabeçalho -->
      <header>
        <h1>Sobre Mim</h1>
        <p>
          21 de julho de 2002 <br />
          Solteira <br />
          Amigável, inteligente... e um pouco fora da curva. <br />
          São José dos Campos - São Paulo
        </p>

        <div class="imagem">
          <img src="" alt="Foto de Maria Gabriela Reis" />
        </div>
      </header>

      <!-- Conteúdo principal da página -->
      <div class="conteudo-principal">
        <div class="cards-grandes">
          <section>
            <!-- Coisas que eu gosto -->
            <h2>Coisas Favoritas</h2>
            <div class="card-grande">
              <img src="" alt="" />
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Incidunt voluptatem velit eius quam nesciunt soluta amet
                voluptas cum optio porro aspernatur, corporis maxime
                necessitatibus laborum hic adipisci debitis dignissimos nihil?
              </p>
            </div>
          </section>

          <section>
            <!-- Coisas que faço no meu tempo livre -->
            <h2>Hobbies</h2>
            <div class="card-grande-esquerda-tres-imagens">
              <div class="imagens">
                <img src="" alt="" />
                <img src="" alt="" />
                <img src="" alt="" />
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Incidunt voluptatem velit eius quam nesciunt soluta amet
                voluptas cum optio porro aspernatur, corporis maxime
                necessitatibus laborum hic adipisci debitis dignissimos nihil?
              </p>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <address>
        <div class="email">
          <h4>Maria Gabriela Garcia dos Santos Reis</h4>
          <p>mariagabrielagreis@gmail.com</p>
        </div>

        <!-- Links rápidos para outras páginas -->
        <div class="links-uteis">
          <h5>Links Úteis</h5>
          <div class="links">
            <a href="">Início</a>
            <a href="">Sobre mim</a>
            <a href="">Formação</a>
            <a href="">Projetos</a>
            <a href="">Contatos</a>
            <a href="">Baixar currículo</a>
          </div>
        </div>

        <!-- Redes Sociais -->
        <div class="redes-sociais">
          <a href="">
            <img src="" alt="GitHub" />
            <p>GitHub</p>
          </a>
          <a href="">
            <img src="" alt="LinkedIn" />
            <p>LinkedIn</p>
          </a>
          <a href="">
            <img src="" alt="Instagram" />
            <p>Instagram</p>
          </a>
        </div>
        <div class="copyright">
          <p>© 2021 copyright todos os direitos reservados</p>
        </div>
      </address>
    </footer>
  </body>
</html>
